################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ABC_Drive/ABC_Drive/bin/Debug/desktop.ini
